<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.OdinRenderer"
          android:versionCode="1"
          android:versionName="1.0">

  <uses-sdk android:minSdkVersion="24" />
  <uses-feature android:name="android.hardware.vulkan.version" android:version="0x400003" android:required="true" />
  <uses-feature android:name="android.hardware.vulkan.level" android:version="0" android:required="true" />


  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

  <application
      android:label="Odin Renderer"
      android:hasCode="false"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:debuggable="false">

   <meta-data
        android:name="com.android.graphics.injectLayers.enable"
   android:value="true" />

   <meta-data android:name="com.android.graphics.developervulkanlayers" 
               android:value="VK_LAYER_KHRONOS_validation" />

    <activity android:name="android.app.NativeActivity"
              android:configChanges="orientation|keyboardHidden"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

      <meta-data android:name="android.app.lib_name"
                 android:value="main" />

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

  </application>

</manifest>
